script: rake ci
language: ruby
rvm:
  - 1.9.3
  - 2.2.0
  - jruby
  - ruby-head
  - jruby-head
  - rbx-2

matrix:
  allow_failures:
    - rvm: rbx-2
    - rvm: ruby-head
    - rvm: jruby-head

notifications:
  irc: "irc.freenode.org#celluloid"

before_install:
  - if [ "$TRAVIS_RUBY_VERSION" == "rbx-2" ] ; then export BUNDLE_JOBS=1 ; else export BUNDLE_JOBS=4; fi

sudo: false
install: bundle install --retry=3 --without=development
